@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

.App {
  padding: 0 1rem;
}

.App h1 {
  font: 700 24px/30px 'Open Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #000;
}

.recordings {
  position: relative;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  border-color: #000;
  border-style: solid;
  border-width: 4px;
  min-width: 360px;
}

.recordings h2 {
  font: 700 16px/24px 'Open Sans', sans-serif;
  display: table;
  padding: 0 .5rem;
  margin: -1.8rem 0 1rem;
  color: #000;
  background-color: #fff;
}

.recordings__item {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 4px solid #000;
}